#audioContainer input[type=range] {
    -webkit-appearance: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
    background: none;
    width: 53%;
    max-width: 200px;
    margin: 0 0 0 -5px;
    padding: 0 0 5px 0;
}

#audioContainer input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#audioContainer input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px;
    background: rgba(247, 3, 16, 0.66);
}

#audioContainer input[type=range]::-moz-range-progress {
    height: 4px;
    border-radius: 2px;
    background: rgba(41, 39, 37, 0.2);
}

#audioContainer input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    margin-top: -5px;
    background: #eaeaea;
    border-radius: 50%;
}

#audioContainer {
    display: flex;
    position: fixed;
    left: -315px;
    bottom: 10px;
    width: 350px;
    height: 66px;
    box-shadow: 0 0 5px #000000;
    transition: all 0.5s;
    color: #000;
    border-radius: 5px;
    font-size: 0.9rem;
}

#audioContainer:hover {
    box-shadow: 0 0 10px #000000;
}

#audioContainer i {
}

#audioContainer marquee {
    position: relative;
    bottom: 6px;
    height: 18px;
}

#audioPlay {
    min-width: 66px;
    height: 100%;
    text-align: center;
    line-height: 66px;
    color: #efefef;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 1s all;
}

#audioPlay:hover {
    transform: scale(0.95);
    transition: all 0.5s;
    box-shadow: 0 0 10px #000000;
}

#audioInfo {
    width: 100%;
    padding: 5px;
    color: #ffffff;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}

#audioBg {
    position: absolute;
    right: 0;
    width: 100%;
    background: transparent;
    height: 100%;
    filter: blur(3px);
    transition: 1s all;
}

#audioName {
    width: 97%;
}

#audioControl {
    text-align: left;
}

#audioVolume {
    display: none;
}

#audioVolumeIcon {
}

#audioNext {
}

#audioLoop {

}

#audioBar {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    white-space: nowrap;
}

#audioProgress {
    width: 0;
    height: 5px;
    line-height: 29px;
    background: #ff4c2f;
    margin: 0;
}

#audioNext:hover, #audioVolumeIcon:hover, #audioLoop:hover {
    transform: rotate(360deg);
    transition: all 0.5s;
    color: #ff6a46;
}

#audioSwitch {
    background: rgba(239, 239, 239, 0.2);
    line-height: 80px;
    width: 40px;
    text-align: center;
    padding-left: 5px;
    z-index: 1;
}

@media all and (max-width: 950px) {
    #audioContainer {
        width: 100%;
        left: -93%;
    }
}